<h1>Proxy Checker</h1>

<textarea placeholder="A list of proxies to check"></textarea>

<button phx-click="check" phx-value-foo="foo">Check</button>

<%= if @state == :loading do %>
<div>Loading...</div>
<% end %>